* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}


/* MAIN DASHBOARD */

.dashboard-main {
    margin-left: 300px;
    padding: 20px 40px 20px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard-title {
    font-size: 32px;
    font-weight: 800;
    color: #0d241d;
}

.dashboard-icons {
    display: flex;
    gap: 16px;
}

.dashboard-icons i {
    font-size: 22px;
    color: #0d241d;
    cursor: pointer;
}

/*  HEADER */

.detail-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 22px;
}

.detail-title h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    font-weight: 700;
    color: #1d2b24;
    margin-bottom: 6px;
}

.back-btn {
    color: #1d2b24;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}

.back-btn:hover {
    color: #6f8f3b;
}

.detail-title p {
    font-size: 16px;
    color: #555;
    max-width: 700px;
}


/*  DETAIL CARD */

.crop-detail-card {
    display: flex;
    gap: 24px;
    background: #ececec;
    border: 2px solid #1d2b24;
    border-radius: 18px;
    padding: 18px;
    height: 560px;
}

/* LEFT IMAGE */

.detail-image {
    flex: 0 0 330px;
}

.detail-image img {
    width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    display: block;
}

/* RIGHT CONTENT */

.detail-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.detail-content h2 {
    font-size: 28px;
    font-weight: 700;
    color: #1d2b24;
    margin-bottom: 16px;
}

/* SCROLLABLE CONTENT */

.detail-scroll {
    flex: 1;
    overflow-y: auto;
    padding-right: 12px;
}

.detail-scroll p {
    font-size: 16[x];
    color: #444;
    line-height: 1.65;
    margin-bottom: 18px;
}

.detail-scroll strong {
    color: #1d2b24;
    font-weight: 700;
}

.detail-scroll ul {
    margin: 8px 0 18px 22px;
    color: #444;
}

.detail-scroll li {
    margin-bottom: 8px;
    line-height: 1.5;
}

/* CUSTOM SCROLLBAR */

.detail-scroll::-webkit-scrollbar {
    width: 8px;
}

.detail-scroll::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 10px;
}

.detail-scroll::-webkit-scrollbar-thumb {
    background: #6f8f3b;
    border-radius: 10px;
}

.detail-scroll::-webkit-scrollbar-thumb:hover {
    background: #5c7731;
}

/* RESPONSIVE */

@media (max-width: 1100px) {

    .dashboard-main {
        margin-left: 0;
        padding: 20px;
    }

    .crop-detail-card {
        flex-direction: column;
    }

    .detail-image {
        flex: none;
        width: 100%;
        height: 320px;
    }

    .detail-header {
        flex-direction: column;
        gap: 16px;
    }

    .dashboard-icons {
        align-self: flex-end;
    }
}